section h2.black { color: #000; }
section h3.black { color: #000; }
section h3.yellow { color: #ffe042; }
section h3.blue { color: #5242ff; }
section h3.pink { color: #c26fff; }
section li.gray { color: #a1a1a1; }
section a.white { color: #fff; }
